.green {
    color: #16A085;
    font-size: 20px;
    padding-left:450px;
    padding-right: 278px;
    padding-top: 32px;
    text-align: left;
    word-spacing: 30px;
    font-family: AdobeInvisFont,Roboto-Black,Courier;
}
.black{
    color:  #373737;
    padding-left: 370px;
    width: 621px;
    height: 17px;
    font-family: AdobeInvisFont,Roboto-Black,Courier;
    font-size: 22px;
}



.paragraph {
font-family: AdobeInvisFont,Roboto-Black,Courier;
    font-size: 16px;
text-align: center;
    padding-left: 100px;
padding-right: 100px;
    opacity: 5;
}


button{
    font-family: GothamRounded-Bold,AdobeInvisFont,MyriadPro-Regular;
   background-color:  #16A085;
width: 193px;
    top: 1372px;
    height: 52px;


}
.button1 {
    padding-left: 550px;

}
